body {

	background-image: url(images/chicago-skyline-sunset-night-reflections-hd-photography.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

.profile{

	max-width:  80%;
	max-height: 80%;
	border: 5px solid white;
}

.page-title, .project-title {
	text-align: center;
}

.conway-grid td {
  background-color: white;
  height: 10px;
  width: 10px;
}

.conway-grid td.active {
	background-color: black;
}