body {

	background-image: url(images/chicago-skyline-sunset-night-reflections-hd-photography.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

.profile{

	max-width:  80%;
	max-height: 80%;
	border: 5px solid white;
}

.page-title	{
	text-align: center;
}

